[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pre-commit = "*"

[scripts]
start_1 = "python src/FizzBuzz.py"
test = "python -m unittest discover -v"
format = "python -m black src"

[requires]
python_version = "3.10"
